.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  max-width: 600px;
  padding: 1.3rem;
  min-height: 250px;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 1000;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 100;
}

.modalHidden {
  display: none;
}
